@import "../global/styles/global.css";
@import "../global/styles/theme.css";

header {
    display: flex;
    flex-direction: column;

    height: 85vh;

    text-align: center;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../assets/img-2-b.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.up-info-container {
    width: 100%;
    height: 3.5rem;

    padding-left: 4rem;
    padding-right: 2rem;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.up-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.up-info img {
    width: 1rem;
    height: 1rem;
}

.up-info span {
    font-size: 1rem;
}

.left-up-info-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 4rem;
    padding-right: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--background);
    transition: color 0.5s ease;
}

.main-nav a:hover {
    transition: color 0.5s ease;
    color: var(--secondary_light);
}

.logo {
    width: 123px;
    height: 83px;
}

.links-nav-header {
    display: flex;
    gap: 2rem;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.main-banner p {
    font-size: 1rem;
}

.main-banner h1 {
    font-size: 5rem;
}

.main-banner button {
    padding: 0.8rem 2.5rem;
    margin-top: 2rem;

    border-radius: 0.5rem;
    border: none;

    font-size: 1rem;

    transition: background-color 0.3s ease;

    background-color: var(--background);
    cursor: pointer;
}

.main-banner button:hover {
    transition: background-color 0.3s ease;

    background-color: rgba(243, 243, 243, 0.8);
}

/* MAIN */

.section-primary {
    padding: 0 2rem;
}

.valores-container {
    display: flex;
    justify-content: center;

    gap: 3rem;
    margin-top: 2.5rem;
}

.card-valores {
    flex: 1;

    display: flex;
    flex-direction: column;

    text-align: center;

    gap: 1.3rem;
    padding: 1.2rem;
}

.card-valor-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary_light);

    width: 5rem;
    height: 5rem;

    margin: 0 auto;

    border-radius: 2rem;
    padding: 1.2rem;

    text-align: center;
}

.card-valor-icon img {
    width: 2.5rem;
    height: 2.5rem;
}

.card-valores h3 {
    /* margin: 20px; */
}

/*Sobre*/

#SobreContainer {
    display: flex;
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: space-between;
    gap: 30px;
}

.sobre {
    width: 700px;
    height: 240px;
}

.sobre p {
    font-size: 20px;
}

.sobre button {
    background-color: var(--secondary_light);
    width: 175px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 17px;
    color: var(--background);
    font-weight: bold;
}

#SobreContainer img {
    border-radius: 20px;
    width: 292px;
    height: 396px;
}

/*Evento*/

.EventoContainer {
    margin-top: 80px;
    align-items: center;
    background-image: url(../assets/IMG_0173-1024x806-escura.jpg);
    height: 415px;
    width: 100%;
    color: var(--background);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
}

.EventoContainer button {
    color: var(--background);
    background-color: var(--primary_light);
    width: 250px;
    height: 34px;
    margin-top: 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}

/*Pratos*/

.PratosContainer {
    margin-top: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.PratosContainer h1 {
    text-align: center;
    font-size: 40px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.CardPratos {
    margin-top: 30px;
    width: 310px;
    height: 428px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.CardPratos img {
    width: 310px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 10px;
}

.CardPratos p {
    margin: 20px;
    margin-bottom: 40px;
}

.CardPratos h3 {
    font-size: 23px;
    color: var(--secondary_light);
    margin-left: 20px;
}
