@import "../global/styles/global.css";
@import "../global/styles/theme.css";

header {
    display: flex;
    flex-direction: column;

    height: 85vh;

    text-align: center;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../assets/img-2-b.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.up-info-container {
    width: 100%;
    height: 3.5rem;

    padding-left: 4rem;
    padding-right: 2rem;

    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.up-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.up-info img {
    width: 1rem;
    height: 1rem;
}

.up-info span {
    font-size: 1rem;
}

.left-up-info-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 4rem;
    padding-right: 2rem;
}

.main-nav a {
    text-decoration: none;
    color: var(--background);
    transition: color 0.5s ease;
}

.main-nav a:hover {
    transition: color 0.5s ease;
    color: var(--secondary_light);
}

.logo {
    width: 123px;
    height: 83px;
}

.links-nav-header {
    display: flex;
    gap: 2rem;
}

.main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.main-banner p {
    font-size: 1rem;
    font-weight: 300;
}

.main-banner h1 {
    font-size: 5rem;
}

.main-banner button {
    padding: 0.8rem 2.5rem;
    margin-top: 2rem;

    border-radius: 0.5rem;
    border: none;

    font-size: 1rem;

    transition: background-color 0.3s ease;

    background-color: var(--background);
    cursor: pointer;
}

.main-banner button:hover {
    transition: background-color 0.3s ease;

    background-color: rgba(243, 243, 243, 0.8);
}

/* MAIN */

.section-primary {
    padding: 0 4rem;
}

.valores-container {
    display: flex;
    justify-content: center;

    gap: 3rem;
    margin-top: 2.5rem;
}

.card-valores {
    flex: 1;

    display: flex;
    flex-direction: column;

    text-align: center;

    gap: 1.3rem;
    padding: 1.2rem;
}

.card-valor-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--secondary_light);

    width: 5rem;
    height: 5rem;

    margin: 0 auto;

    border-radius: 2rem;
    padding: 1.2rem;

    text-align: center;
}

.card-valor-icon img {
    width: 2.5rem;
    height: 2.5rem;
}

/*Sobre*/

#sobre-container {
    display: flex;
    justify-content: space-between;

    margin-top: 5rem;
    gap: 2rem;
}

.sobre-details {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.sobre-details h1 {
    font-size: 2.4rem;
}

.sobre-details h1::after {
    content: "";
    display: block;

    margin-top: 4px;

    width: 50%;
    height: 0.6rem;

    border-radius: 0.5rem;

    background-color: var(--secondary);
}

.sobre-details p {
    font-size: 1.1rem;
}

.contato-container button, .sobre-details button {
    background-color: var(--secondary);

    padding: 0.8rem 2.5rem;
    border-radius: 0.5rem;

    font-size: 1rem;
    color: var(--background);
    font-weight: bold;

    transition: background-color 0.3s ease;

    cursor: pointer;
}

.contato-container button:hover, .sobre-details button:hover {
    transition: background-color 0.3s ease;
    background-color: var(--secondary_shadow);
}

#sobre-container img {
    width: 40%;
    height: 380px;
    border-radius: 1rem;
}

/*Evento*/

.evento-container {
    width: 100%;

    margin-top: 5rem;
    padding: 10rem 0;

    background-image: url(../assets/IMG_0173-1024x806-escura.jpg);

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

    color: var(--text_light);
}

.evento-container h1 {
    font-size: 3rem;
}

.evento-container p {
    font-size: 1.2rem;
    font-weight: 300;
}

.evento-container button {
    color: var(--text-light);
    background-color: var(--primary_light);

    padding: 0.8rem 2.5rem;

    margin-top: 1rem;
    border-radius: 0.5rem;

    font-weight: bold;
    font-size: 1rem;

    transition: background-color 0.3s ease;
    cursor: pointer;
}

.evento-container button:hover {
    transition: background-color 0.3s ease;
    background-color: var(--primary_shadow);
}

/*Pratos*/

.pratos-container {
    margin-top: 3rem;
}

.contato-container h1, .pratos-container h1 {
    text-align: center;
    font-size: 2.5rem;
}

.contato-container h1::after, .pratos-container h1::after {
    content: "";

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: block;

    margin-top: 4px;

    align-self: center;
    text_light: center;
    width: 8rem;
    height: 0.6rem;

    border-radius: 0.5rem;

    background-color: var(--secondary);
}

.pratos-cards-container {
    margin-top: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.card-pratos {
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-pratos img {
    width: 100%;
    height: 250px;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-pratos-details {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 1.4rem;
}

.card-pratos-details p {
}

.card-pratos-details h3 {
    font-size: 23px;
    color: var(--secondary_light);
}

/*Contato*/

.contato-container {
    margin-top: 3rem; 
}

.contato-container p {
    text-align: center;
    margin-top: 4rem;
}

.form-container, .inputTop{
    gap: 2rem;
}

.formButton button {
    justify-content: end;
}

.inputTop {
    margin-top: 4rem;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.inputSobre, .inputMsg {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    padding-left: 1rem;
}

.inputMsg {
    padding-top: 0.5rem;
}

.inputSobre {
    height: 3rem;
}

.inputMsg {
    height: 10rem;
}